---
import Welcome from "./Welcome.astro"
---

<Welcome>
        <p slot="aframe">
            ppppppppppppppppppppppppp
        </p>
</Welcome>

<style>
    a-scene {
        height: 300px;
        width: 600px;
}
</style>