---
import Section from "../layout/Section.astro"
---

<Section
  texto="Artísticas 4K"
  color="white"
  id="buque-desdemona"
>

  <img
    slot="background"
    alt="Naufragio Buque Desdemona. Patagonia Argentina"
    class="h-full w-full object-cover object-center"
    src="/buque-desdemona.avif"
    id="bg-image-buque-desdemona"
  />
</Section>
