---
import Section from "../layout/Section.astro"
---

<Section
  texto="Fotografías Aéreas * Alta Definición"
  color="white"
  id="casa-gob-pna"
>

  <img
    slot="background"
    alt="Casa de Gobierno ER"
    class="h-full w-full object-cover object-center"
    src="/casa-gob-pna.avif"
    id="bg-image-casa-gob-pna"
  />
</Section>
