---
import Marquesina from "./Marquesina.astro";

const { color, texto, visib } = Astro.props;
const textColor = `text-${color}`;
---

<section class={`${textColor} ${visib} marq text-md text-pretty lg:text-xl absolute bottom-7 lg:bottom-7 mx-20`}>

        <Marquesina {texto} />
        
</section>

<style>
.marq{
        opacity: 0.6;
        text-shadow: -1px -1px 1px #b96300, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;

}

@media (max-width: 460px) and (orientation: portrait) {
.marq{
        margin-bottom: 7vmax;
}

}


/* CSS pantalla 768px o superior */
@media (max-height: 460px) and (orientation: landscape) {
.marq{
        margin-bottom: 1%;
}

}
</style>

</style>