---
import Section from "../layout/Section.astro"
---

<Section
  color="white"
  id="faro-br"
  texto="Aéreas 4K"
>
<img
slot="background"
alt="Faro Marina do Brasil."
class="h-full w-full object-cover object-center bg-image"
src="/faro-br.avif"
id="bg-image-faro-br"
/>
</Section>
<!-- 
<script>
  function isEdge() {
    if (
      navigator.userAgent.indexOf("Edge") > -1 ||
      navigator.userAgent.indexOf("Edg") > -1
    ) {
      return true
    } else {
      return false
    }
  }

  let imageElement = document.querySelector(
    "#bg-image-modely"
  ) as HTMLImageElement

  if (isEdge()) {
    imageElement.src = "brown1.jpg"
  } else {
    imageElement.src = "brown1.jpg"
  }
</script>
 -->