---
import Section from "../layout/Section.astro"
---

<Section
  texto="Aéreas 4K"
  color="white"
  id="flydrone"
  showFooterContent="true"
>

  <img
    slot="background"
    alt="Drone en Vuelo"
    class="h-full w-full object-cover object-center"
    src="flydrone.avif"
    id="bg-image-flydrone"
  />
</Section>
