---
import Section from "../layout/Section.astro"
---

<Section
color="white"
id="obelisco-caba"
texto="Servicio de Filmaciones Aéreas 4K Hotelería Turismo Inmobiliarios Eventos"
nextid="hotel-ext1"
>

  
  <video
    id="vide-obelisco-caba"
    slot="background"
    class="object-center object-cover h-full w-full"
    autoplay
    muted
    loop
    src="/obelisco.webm"></video>
</Section>