---
import Section from "../layout/Section.astro"
---

<Section
  texto="Nocturnas 4K"
  color="white"
  id="thompson"
>

  <img
    slot="background"
    alt="Balneario Thompson Paraná"
    class="h-full w-full object-cover object-center"
    src="thompson.avif"
    id="bg-image-thompson"
  />
</Section>
