---
import Section from "../layout/Section.astro"
---

<Section
color="white"
id="init-video"
texto="Aéreas 4K"
xnext="#pantalla2"
>


<video
    id="video-inicial"
    slot="background"
    class="object-center object-cover h-full w-full transition fading" 
    muted 
    autoplay
    loop 
    src="/backgrounds/faro02.webm">
  </video>
</Section>
