---
import Section from "../layout/Section.astro"
---

<Section
color="white"
id="init-video"
texto="¡Bienvenidos a FLYDRONE VIDEO!"
>


<video
    id="video-inicial"
    slot="background"
    class="object-center object-cover h-full w-full transition fading" 
    muted 
    autoplay
    loop 
    src="/backgrounds/faro-brasil.mp4">
  </video>
</Section>
