---
import Section from "../layout/Section.astro"
---

<Section
color="white"
id="init-video"
texto="Servicio de Filmaciones Aéreas 4K Hotelería Inmobiliario Turismo Eventos"
>

  
  <video
    id="video-inicial"
    slot="background"
    class="object-center object-cover h-full w-full transition fading" 
    muted 
    autoplay
    loop 
    src="faro02.webm">
  </video>
</Section>
