---
import Section from "../layout/Section.astro"
---

<Section
color="white"
id="init-video"
texto="Servicio de Filmaciones Aéreas 4K Hotelería Inmobiliario Turismo Eventos"
>

  
  <video
    id="video-inicial"
    slot="background"
    class="object-center object-cover h-full w-full transition fading" 
    muted 
    autoplay 
    playsinline
    oncanplay="playVideo(this)" 
    onended="playVideo(this)"
    src="faro2.webm">
  </video>
</Section>

<script is:inline>
  function playVideo(e) {
    e.play();
    e.classList.remove('fading');
    setTimeout(() => {
        e.classList.add('fading');
    }, (e.duration / e.playbackRate - 0.2) * 1000)
}

vid = document.querySelector('#video-inicial')
vid.addEventListener('click', () => {
  playsinline
});
vid.addEventListener('touchstart', () => {
  playsinline
})
</script>

<style>
  .transition {
    transition: all 0.2s;
}

.transition.fading {
    opacity: 0;
}
</style>