---
import Topico from "./Topico.astro"
---
<div
    id="welcome-int"
    slot="background"
    class="object-center object-cover bg-zinc-700 h-screen w-screen overflow-hidden relative"
>
  <div class="container-all container absolute grid place-items-center h-screen w-screen">
    <div class="welcome-image z-50 absolute">
      <img src="/logo-nonat.png" alt="Fly Drone Logo">
    </div>
    <div class="container grid place-items-center gap-8">
      <div class="fly-grid z-10 place-items-center">
        <div class="">
          <Topico 
            titlex="Título 1"
            textx = "Texto 1"
          />
        </div>
        <div class=""></div>
        <div class="">tres</div>
        <div class=""></div>
        <div class="">
          <img class="logo" src="/faviconold.svg" alt="fav">
        </div>
        <div class=""></div>
        <div class="">siete</div>
        <div class=""></div>
        <div class="">nueve</div>
      </div>
    </div>
  </div>
</div>

<style>
  .container-all{
    margin-left: 4.5vw;
  }

  /* CSS pantalla 420px o menor */
@media (max-width: 420px) {

  .container-all {
    margin-left: 0.5vw;
  }
} 

    .fly-grid{
      margin-top: 9vh;
      margin-right: 0;
      display: grid;
      width: 80vmin;
      height: auto;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 1fr 2fr 1fr;        
    }
    .welcome-image{
      display: flex;
      position:fixed;
      z-index: 0;
      width: 45vmax;
      opacity: 1;
      margin-top: 75dvh;
      margin-left: 10vw;
    }

    @-webkit-keyframes float {
  0% {
    transform: translatey(0px);
  }
  20% {
    transform: translatey(-200px);
  }
  100% {
    transform: translatey(-5000px);
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  20% {
    transform: translatey(-200px);
  }
  100% {
    transform: translatey(-5000px);
  }
}

.welcome-image {
  overflow: hidden;
  transform: translatey(0px);
  -webkit-animation: float 20s ease-in-out both;
          animation: float 20s ease-in-out both;
          animation-delay: 2s;
}

.logo{
  width: 100dvh;
  z-index: 900 !important;
}
.logo:hover{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }

.logo,.logo:hover,.post-centro,.post-centro:hover{
  transition:all 1s ease-in-out;
  -webkit-transition:all 10s ease-in-out;
}

@-moz-keyframes spin {
  100% 
  {
    -moz-transform:rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% 
  {
    -webkit-transform:rotate(360deg);
  }
}

@keyframes spin {
  100% 
  {
    -webkit-transform:rotate(360deg);	
    transform:rotate(360deg);
  }
}  
  

</style>