---
const { color } = Astro.props;
const textColor = `text-${color}`;
---

<header
  id="landing-header"
  class=`py-1 px-2 flex items-center fixed top-0 z-40 ${textColor}`
>
  <nav class="logo">
    
      <div id="drone">
        <img src="/backgrounds/flydrone-solo.gif" alt="gif">
      </div>
      <div id="logo">
        <img src="/icons/jorgeflynat.png" id="logo-nat" />
      </div>

      <div class="text-container">
        <p id="logo-text">Grabación, edición y producción de imágenes para turismo, hotelería, empresas y eventos.</p>
        <p id="logo-text1">Fotografías 360º - Videos 4k</p>
      </div>
    
  </nav>
  <nav class="flex flex-grow justify-end basis-0 md:m-5">
    <ul
      class="nav-menu text-sm [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:py-2"
    >
      <li class="btn-menu">
        <a href="/inicio">
          Saber más
        </a>
      </li>
      <li id="video" class="menu-img">
          <video muted autoplay loop src="/backgrounds/hotel-text.webm">
          </video>
      </li>
      <li id="city" class="menu-img">
        <img src="/backgrounds/city-nocturna.avif" alt="Inmobiliarias">
      </li>
      <li id="obelisco" class="menu-img">
        <img src="/backgrounds/obelisco-t.avif" alt="Empresariales">
      </li>
      <li id="dunas" class="menu-img">
        <img src="/backgrounds/dunas-t.avif" alt="Eventos">
      </li>      
      <li id="parana" class="menu-img">
        <img src="/backgrounds/parana-costa.avif" alt="Turismo">
      </li>
    </ul>
  </nav>

  <img id="degree-360" src="/icons/360-degrees.png" alt="360 icon">

  
  <div
  id="menu-backdrop"
  class={`
      absolute bg-white/5 backdrop-blur-lg rounded
      translate-x-[var(--left)] translate-y-[var(--top)]
      left-0 top-0
      w-[var(--width)] h-[var(--height)]
      transition-all duration-500
      ease-in-out opacity-0 -z-10
      border-2
      `}
  >

</div>
</header>

<script>
  const listImg = document.querySelectorAll(".menu-img")
  const tetxCont = document.querySelector(".text-container") as HTMLElement
  let stype = screen.orientation.type;
  screen.orientation.addEventListener("change", (event) => {
    stype = event.target['type'];
    console.log('stipe --> ', stype)
  });
  if (stype == 'landscape-primary'){

    listImg.forEach((imgItem) => {
      imgItem.addEventListener("mouseenter", () => {
        tetxCont.style.opacity = "0"
        tetxCont.style.visibility = "hidden"
      })
      
      imgItem.addEventListener("mouseleave", () => {
        tetxCont.style.opacity = "1"
        tetxCont.style.visibility = "visible"
      })
    })
  }
</script>

<script>
  const listItem = document.querySelectorAll("#landing-header li")
  const menuBackDrop = document.querySelector("#menu-backdrop") as HTMLElement

  listItem.forEach((item) => {
    item.addEventListener("mouseenter", () => {
      const { left, top, width, height } = item.getBoundingClientRect()

      menuBackDrop.style.setProperty("--left", `${left}px`)
      menuBackDrop.style.setProperty("--top", `${top}px`)
      menuBackDrop.style.setProperty("--width", `${width-1}px`)
      menuBackDrop.style.setProperty("--height", `${height-1}px`)

      menuBackDrop.style.opacity = "1"
      menuBackDrop.style.visibility = "visible"
    })

    item.addEventListener("mouseleave", () => {
      menuBackDrop.style.opacity = "0"
      menuBackDrop.style.visibility = "hidden"
    })
  })
</script>

<style>


.logo {
    position: fixed;
    width: 30%;
    top: 20%;
    left: 5%;
  }

  
  #drone {
    z-index: 100;
    position: fixed;
    width: 30%;
    top: 14%;
    left: 22%;
  }

  .text-container {
    width: 45%;
    text-align: center;
    position: fixed;
    transition-duration: 500ms;
    color: rgb(253, 211, 96);
    font-weight: 500;
    font-size: 1.8rem;
    top: 20vw;
    right: 15%;
    text-wrap: pretty;
    text-shadow: -1px -1px 1px #b96300, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
  }

  .text-container:hover {
    transition-duration: 500ms;
    color: rgb(253, 211, 96);
  }

  #degree-360 {
    width: 3%;
    position: fixed;
    left: 3%;
    top: 3%;
  }

  .btn-menu {
    font-size: 1.1vmax;
    position: fixed;
    right: 1%;
    padding: 0.9% 0.5%;
  }


  .menu-img {
    transition-duration: 500ms;
    position: fixed;
  }
  .menu-img:hover, .menu-img:active {
    transition-duration: 500ms;
    z-index: 50;
   }

  #video {
    width: 15vmin;
    height: 9vmin;
    top: 16%;
    right: 1%;
  }
  #city {
    width: 15vmin;
    height: 9vmin;
    top: 26.5%;
    right: 1%;
  }

  #obelisco {
    width: 15vmin;
    height: 9vmin;
    top: 37.5%;
    right: 1%;
  }

  #dunas {
    width: 15vmin;
    height: 9vmin;
    top: 48.5%;
    right: 1%;
  }

  #parana {
    width: 15vmin;
    height: 9vmin;
    top: 59.5%;
    right: 1%;
  }


  #video:hover, #video:active {
    width: 64%;
    top: 15%;
    right: 0.9%;
  }

  #city:hover, #city:active {
    width: 64%;
    top: 15%;
    right: 0.9%;
  }

  #obelisco:hover, #obelisco:active {
    width: 64%;
    top: 15%;
    right: 0.9%;
  }

  #dunas:hover, #dunas:active {
    width: 64%;
    top: 15%;
    right: 0.9%;
  }

  #parana:hover, #parana:active {
    width: 64%;
    top: 24%;
    right: 0.9%;
  }


  @media (orientation: portrait) {

    .logo {
    position: fixed;
    width: 60%;
    top: 15%;
    left: 13%;
  }

  #logo {
    padding: 2%;
  }

  #drone {
    z-index: 900;
    position: fixed;
    width: 25%;
    top: 13%;
    left: 45%;
  }

  .text-container {
    width: 50%;
    text-align: center;
    position: fixed;
    transition-duration: 500ms;
    color: rgb(253, 211, 96);
    font-weight: 500;
    font-size: 2vh;
    top: 38%;
    left: 20%;
    text-wrap: pretty;
    text-shadow: -1px -1px 1px #b96300, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
  }

  .text-container:hover {
    transition-duration: 500ms;
    color: rgb(253, 211, 96);
  }


    .btn-menu {
    font-size: 1.5vmax;
    position: fixed;
    right: 0%;
    top: 2%;
    padding: 0.9% 0.9%;
  }

  .menu-img {
    transition-duration: 500ms;
    position: fixed;
  }
  .menu-img:hover, .menu-img:active {
    transition-duration: 500ms;
    z-index: 50;
   }

   #degree-360 {
    width: 5%;
    position: fixed;
    left: 3%;
    top: 3%;
  }

  #video {
    width: 15vmin;
    height: 9vmin;
    top: 26%;
    right: 1%;
  }
  #city {
    width: 15vmin;
    height: 9vmin;
    top: 32.5%;
    right: 1%;
  }

  #obelisco {
    width: 15vmin;
    height: 9vmin;
    top: 39.5%;
    right: 1%;
  }

  #dunas {
    width: 15vmin;
    height: 9vmin;
    top: 46.5%;
    right: 1%;
  }

  #parana {
    width: 15vmin;
    height: 9.5vmin;
    top: 53.5%;
    right: 1%;
  }


  #video:hover, #video:active {
    width: 76%;
    top: 65%;
    right: 11%;
  }

  #city:hover, #city:active {
    width: 76%;
    height: 50%;
    top: 65%;
    right: 11%;
  }

  #obelisco:hover, #obelisco:active {
    width: 76%;
    height: 50%;
    top: 65%;
    right: 11%;
  }

  #dunas:hover, #dunas:active {
    width: 76%;
    height: 50%;
    top: 65%;
    right: 11%;
  }

  #parana:hover, #parana:active {
    width: 76%;
    height: 75%;
    top: 65%;
    right: 11%;
  }

}

@media (max-height: 600px) and (orientation: landscape) {

  .logo {
    position: fixed;
    width: 30%;
    top: 6%;
    left: 7%;
  }

  #logo {
    padding: 5%;
  }

  #drone {
    z-index: 900;
    position: fixed;
    width: 12%;
    top: 9%;
    left: 25%;
  }

  .text-container {
    width: 45%;
    text-align: center;
    position: fixed;
    transition-duration: 500ms;
    color: rgb(253, 211, 96);
    font-weight: 500;
    font-size: 1rem;
    top: 37%;
    left: 41%;
    text-wrap: pretty;
    text-shadow: -1px -1px 1px #b96300, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
  }

  .text-container:hover {
    transition-duration: 500ms;
    color: rgb(253, 211, 96);
  }

  #logo-text1 {
    
  }

  .btn-menu {
    font-size: 1.1vmax;
    position: fixed;
    right: 1%;
    padding: 0.5%;
  }


  .menu-img {
    transition-duration: 500ms;
    position: fixed;
  }
  .menu-img:hover, .menu-img:active {
    transition-duration: 500ms;
    z-index: 50;
   }

  #video {
    width: 15vmin;
    height: 9vmin;
    top: 16%;
    right: 1%;
  }
  #city {
    width: 15vmin;
    height: 9vmin;
    top: 26.5%;
    right: 1%;
  }

  #obelisco {
    width: 15vmin;
    height: 9vmin;
    top: 37.5%;
    right: 1%;
  }

  #dunas {
    width: 15vmin;
    height: 9vmin;
    top: 48.5%;
    right: 1%;
  }

  #parana {
    width: 15vmin;
    height: 9vmin;
    top: 59.5%;
    right: 1%;
  }


  #video:hover, #video:active {
    width: 50%;
    top: 25%;
    right: 12%;
  }

  #city:hover, #city:active {
    width: 50%;
    top: 25%;
    right: 12%;
  }

  #obelisco:hover, #obelisco:active {
    width: 50%;
    top: 25%;
    right: 12%;
  }

  #dunas:hover, #dunas:active {
    width: 50%;
    top: 25%;
    right: 12%;
  }

  #parana:hover, #parana:active {
    width: 50%;
    top: 25%;
    right: 12%;
  }


}

</style>