<footer
	class="py-1 px-10 flex justify-center items-center absolute bottom-0 w-full z-40 text-gray-800 text-xs font-medium"
	id="landing-footer"
>
<nav>
	<ul class="flex [&>li>a]:inline-block [&>li>a]:px-2 [&>li>a]:py-0">
	  <li class=""><a href="mailto:flydrone.video007@gmail.com?Subject=Flydorne%20Video.%20Contacto">Flydrone Video © 2024</a></li>
	  <li class=""><a href="#">Privacidad y legal</a></li>
	  <!-- <li><a class="" href="https://wa.me/5493436109763?text=Hola. Quisiera más información" target="_blank">
		<img class="whatsapp" src="whatsapp.png" width="20">
	  </a></li> -->
	</ul>
  </nav>
</footer>
