<div id="lat-nav" class="asside z-40"> 
        <ul>
            <li class="itemss items-start px-2" >
              <a href="https://wa.me/5493436109763?text=Hola. Quisiera más información" target="_blank">
                <img title="Contactar por Whatsapp" src="/icons/whatsapp.png">
              </a>
            </li>
            <li class="itemss items-center px-2">
              <a href="mailto:dronvideo360.ar@gmail.com?subject=DRON%20VIDEO%20360.%20Contacto">
                <img title="Contactar por Mail" src="/icons/mail.png">
              </a>
            </li>
            <li class="itemss items-center px-2">
              <a href="https://www.instagram.com/dronvideo360/" target="_blank">
                <img title="Perfil Instagram" src="/icons/instagram.png">
              </a>
            </li>
            <li class="itemss items-center px-2">
              <a href="https://www.facebook.com/profile.php?id=61558069982222" target="_blank">
                <img title="Perfil Facebook" src="/icons/facebook.png">
              </a>
            </li>
            <li class="itemss items-center px-2">
              <a href="https://www.youtube.com/@dronvideo360/videos" target="_blank">
                <img title="Canal Youtube" src="/icons/youtube.png">
              </a>
            </li>
        </ul>  
</div> 

<style>
  .asside{
    margin: 90vh 0 0 -1ch;
    position: fixed;
    justify-items: center;
  }
    .itemss{
      vertical-align: middle;
      width: 45px;
      font-size: 30px;
      color: rgb(236, 239, 241);
      margin: 2vh 0 2vh 0;
      opacity: 0.5;
    }
    .itemss:hover{
      opacity: 1;
      color: rgb(162, 0, 255);
    }


/* CSS pantalla 768px o superior */
@media (max-width: 460px) and (orientation: portrait) {
  .asside{
  margin: 90vh 0 0 -10px;
  }

.itemss{
    width: 35px;
    font-size: 20px;
}

}


/* CSS pantalla 768px o superior */
@media (max-height: 460px) and (orientation: landscape) {
  .asside{
  margin: 90vh 0 0 -10px;
  }

.itemss{
    width: 35px;
    font-size: 20px;
}

}
</style>
