<div id="lat-nav" class="asside-r right-0 block xl:hidden"> 
  <ul>
      <li class="itemss items-center px-2" >
        <a href="#pantalla1">
          <img title="Obelisco CABA" src="/circulo.png">
        </a>
      </li>
      <li class="itemss items-center px-2" >
        <a href="#pantalla2">
          <img title="Exterior Hotel" src="/circulo.png">
        </a>
      </li>
      <li class="itemss items-center px-2" >
        <a href="#pantalla3">
          <img title="Interior Hotel" src="/circulo.png">
        </a>
      </li>
      <li class="itemss items-center px-2" >
        <a href="#pantalla4">
          <img title="Naufragio Desdemona" src="/circulo.png">
        </a>
      </li>
      <li class="itemss items-center px-2" >
        <a href="#pantalla5">
          <img title="Nocturna Thompson Paraná" src="/circulo.png">
        </a>
      </li>
      <li class="itemss items-center px-2" >
        <a href="#pantalla6">
          <img title="Flydrone" src="/circulo.png">
        </a>
      </li>
  </ul>  
</div> 

<style>
.asside-r{
z-index: 50;
margin: 90vh 0 0 -3vw;
position: fixed;
justify-items: center;
}
.itemss{
vertical-align: middle;
width: 40px;
color: rgb(236, 239, 241);
margin: 7vh 0 7vh 0;
opacity: 0.5;
}
.itemss:hover{
opacity: 1;
color: rgb(226, 214, 233);
}


/* CSS pantalla 768px o superior */
@media (max-width: 460px) and (orientation: portrait) {
.asside-r{
margin: 90vh 0 0 -13vw;
}

.itemss{
width: 25px;
font-size: 20px;
}

}


/* CSS pantalla 768px o superior */
@media (max-height: 460px) and (orientation: landscape) {
.asside-r{
margin: 90vh 0 0 -6vw;
}

.itemss{
width: 25px;
font-size: 20px;
}

}
</style>
