---
import Logo from "./Logo.astro"
import Redes from "./Redes.astro"
const { color } = Astro.props;
const textColor = `text-${color}`;
---

<header
  id="galeria-header"
  class=`py-3 px-2 flex items-center top-0 w-full justify-between z-40 ${textColor}`
>
<nav class="flex flex-grow justify-start basis-0">
  <ul class="flex text-sm [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-2 [&>li>a]:py-2">
    <li title="Inicio" id="logo" class="block">
      <a href="/">
        <span class="flex"><Logo/></span>
      </a>
    </li>
  </ul>
</nav>

  <nav class="flex flex-grow justify-end basis-0">
    <ul
      class="right-nav sm:flex text-sm [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-2 [&>li>a]:py-1"
    >
      <li class="block"><a href="/">Bienvenida</a></li>
      <li class="block"><a href="/inicio">Inicio</a></li>
      <li class="block"><a href="/galeria">Galería</a></li>
      <li class="block"><a id="open-modal" href="#">Contacto</a></li>
    </ul>
  </nav>

<Redes />
</header>

<style>

li:hover {
    background-color: darkslategrey;
    border-radius: 5%;
  }
  
  .right-nav {
    font-size: 1dvw;
    text-shadow: -1px -1px 1px #b96300, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
  }


@media (max-width: 460px) and (orientation: portrait) {

  .right-nav {
    padding: 5px 0;
    text-align: end;
    font-size: 3dvw;
  }
}

@media (max-height: 460px) and (orientation: landscape) {
  .right-nav {
    margin-top: -8dvh;
    font-size: 1.5dvw;
  }
}

</style>