---
import PrevPic from "./PrevPic.astro";
---

<div class="flex flex-wrap justify-center">
    <PrevPic 
      xhref="https://photos.google.com/share/AF1QipNJfO5JC9CtBXSntBOWZkjwynVHldN56h0AUIKjOyuTpzkIJnKJF1dzbGavl4bRbg?key=Nk9OVHVTSXlVQVJnSVcwTGRVVURSM2JfQld0NjdR"
      xsrc="/thumbnails/bote-playa.jpg"
      xalt="Fotos"
      xtitle="Fotos"
      xcaption="Fotografías Artísticas."      
    />
</div>