---
import PrevPic from "./PrevPic.astro";
---


<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-4 md:p-8">
    <PrevPic 
      xhref="https://photos.app.goo.gl/i6c5tEVuZfB5Bca76"
      xsrc="/thumbnails/bote-playa.avif"
      xalt="Fotos"
      xtitle="Fotos"
      xtext="Inmortalice cada instante con la maestría de nuestros fotógrafos. Desde paisajes turísticos hasta productos y eventos, capturamos la esencia de cada momento con claridad y estilo. Con tecnología de vanguardia, en locaciones interiores y exteriores, nos aseguramos de que sus imágenes reflejen la belleza y la autenticidad de cada momento. Más ejemplos en nuestras redes sociales."
      xcaption="Click en la imagen para ver más."
    />
    <PrevPic 
      xhref="https://photos.app.goo.gl/i6c5tEVuZfB5Bca76"
      xsrc="/thumbnails/panaholma.avif"
      xalt="Panaholma"
      xtitle="Panaholma"
      xtext="Paisajes únicos capturados con equipos de última generación. Cada foto cuenta una historia."
      xcaption="Click en la imagen para ver más."
    />
    <PrevPic 
      xhref="https://photos.app.goo.gl/i6c5tEVuZfB5Bca76"
      xsrc="/thumbnails/sadop.avif"
      xalt="SADOP"
      xtitle="SADOP"
      xtext="Fotografía profesional para empresas y particulares. Cobertura de eventos, arquitectura y paisajes."
      xcaption="Click en la imagen para ver más."
    />
</div>
