---
import PrevPic from "./PrevPic.astro";
---

<div class="flex flex-wrap justify-center">
    <PrevPic 
      xhref="https://photos.google.com/share/AF1QipNJfO5JC9CtBXSntBOWZkjwynVHldN56h0AUIKjOyuTpzkIJnKJF1dzbGavl4bRbg?key=Nk9OVHVTSXlVQVJnSVcwTGRVVURSM2JfQld0NjdR"
      xsrc="https://lh3.googleusercontent.com/pw/AP1GczORTh-wwQAJx8ikZRYYutVfkyKTzI4YS8sEkWC3_iszpRpAd7KFVMwX4xmynYrbbrH3YB_ndsYM6TkhPMXlaOOnhG18JvJjBlTHRXZEfgEamW9TUtA0WvAigQ-MYR95NkG1AQMOT3rSXDJ_cQ8yhXUY=w1084-h609-s-no?authuser=0"
      xalt="Fotos"
      xtitle="Fotos"
      xcaption="Fotografías Artísticas."      
    />
</div>