---
import PrevPic from "./PrevPic.astro";
---

<div class="flex flex-wrap justify-center">
    <PrevPic 
      xhref="https://photos.app.goo.gl/7fsbUibH6vNVqaf79"
      xsrc="/thumbnails/fabrega-hotel.avif"
      xalt="Fábrega Hotel"
      xtitle="Fábrega Hotel"
      xcaption="El Castillo Hotel Fábrega. Valle Hermoso, Córdoba, Argentina."      
    />
    <PrevPic 
      xhref="https://photos.app.goo.gl/T7gCR5rTf3GLeQBE6"
      xsrc="/thumbnails/enjoy-hotel.avif"
      xalt="Enjoy Hotel"
      xtitle="Enjoy Hotel"
      xcaption="Enjoy Hotel. Mendoza, Argentina"      
    />
    <PrevPic 
      xhref="https://photos.app.goo.gl/aKKHiXRMhER2ZQoD9"
      xsrc="/thumbnails/ansenuza-hotel.avif"
      xalt="Ansenuza Hotel"
      xtitle="Ansenuza Hotel"
      xcaption="Ansenuza Hotel. Miramar, Córdoba, Argentina."      
    />
    <PrevPic 
      xhref="https://photos.app.goo.gl/P2eKbRweQeK17LCFA"
      xsrc="/thumbnails/sadop-hotel.avif"
      xalt="Sadop Hotel"
      xtitle="Sadop Hotel"
      xcaption="Sadop Hotel. Cosquín, Córdoba, Argentina."      
    />
</div>