---
import PrevPic from "./PrevPic.astro";
---

<div class="flex flex-wrap justify-center">
    <PrevPic 
      xhref="https://photos.app.goo.gl/VGHeAA52F7KaZWFv9"
      xsrc="/thumbnails/parana.avif"
      xalt="Fotos 360"
      xtitle="Fotos 360"
      xtext="Descubra una nueva dimensión de la fotografía con nuestras imágenes en 360º. Con tecnología innovadora y una visión creativa, lo transportamos a lugares reales o imaginarios con una perspectiva envolvente y única. Desde tours virtuales hasta experiencias inmersivas, nuestras fotografías 360º le permiten explorar cada detalle desde cualquier ángulo. Sumérjase en un mundo de posibilidades visuales con nuestras imágenes panorámicas y experimente una nueva forma de ver el mundo. Más ejemplos en nuestras redes sociales."
      xcaption="Click en la imagen para ver más."      
    />
</div>