---
import PrevPic from "./PrevPic.astro";
---


<div class="flex flex-wrap justify-center">
    <PrevPic 
      xhref="https://photos.app.goo.gl/i6c5tEVuZfB5Bca76"
      xsrc="/thumbnails/bote-playa.avif"
      xalt="Fotos"
      xtitle="Fotos"
      xtext="Inmortalice cada instante con la maestría de nuestros fotógrafos. Desde paisajes turísticos hasta productos y eventos, capturamos la esencia de cada momento con claridad y estilo. Con tecnología de vanguardia, en locaciones interiores y exteriores, nos aseguramos de que sus imágenes reflejen la belleza y la autenticidad de cada momento. Más ejemplos en nuestras redes sociales."
      xcaption="Click en la imagen para ver más."
    />
</div>
