---
import PrevPic from "./PrevPic.astro";
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-4 md:p-8">
    <PrevPic 
      xhref="https://photos.app.goo.gl/16mek17Sw24RA2F76"
      xsrc="/thumbnails/parana.avif"
      xalt="Fotos 360"
      xtitle="Fotos 360"
      xtext="Descubra una nueva dimensión de la fotografía con nuestras imágenes en 360º. Con tecnología innovadora y una visión creativa, lo transportamos a lugares reales o imaginarios con una perspectiva envolvente y única. Desde tours virtuales hasta experiencias inmersivas, nuestras fotografías 360º le permiten explorar cada detalle desde cualquier ángulo. Sumérjase en un mundo de posibilidades visuales con nuestras imágenes panorámicas y experimente una nueva forma de ver el mundo. Más ejemplos en nuestras redes sociales."
      xcaption="Click en la imagen para ver más."      
    />
    <PrevPic 
      xhref="https://photos.app.goo.gl/16mek17Sw24RA2F76"
      xsrc="/backgrounds/hotel-ext111.avif"
      xalt="Hotel Exterior 360"
      xtitle="Hotel Exterior 360"
      xtext="Tours virtuales 360° de propiedades, hoteles y alojamientos. Una experiencia inmersiva que permite recorrer cada espacio desde cualquier dispositivo."
      xcaption="Click en la imagen para ver más."      
    />
    <PrevPic 
      xhref="https://photos.app.goo.gl/16mek17Sw24RA2F76"
      xsrc="/backgrounds/room111.avif"
      xalt="Interior 360"
      xtitle="Interior 360"
      xtext="Fotografía esférica de interiores con calidad 4K. Ideal para inmobiliarias, hoteles y cabañas."
      xcaption="Click en la imagen para ver más."      
    />
</div>
