<div class="galeria-background">
    <img
        src="/backgrounds/machupichu.avif"
        alt="Background Image"
    />
</div>
<p class="galeria-text marq"><i>
    En FLYDRONE_VIDEO, nos apasiona compartir el mundo a través de una
    perspectiva única. <br /> Con tecnología de vanguardia, como drones y
    cámaras de 360 grados, capturamos imágenes y vídeos impresionantes de
    viajes, propiedades inmobiliarias, hoteles, cabañas y paisajes de todo
    el mundo. Nuestro objetivo es transportarlo a lugares increíbles y hacerle
    sentir que está allí. <br /> Desde playas paradisíacas hasta majestuosas
    montañas, lo llevamos a explorar los destinos más atractivos del planeta
    con imágenes aéreas y panorámicas que lo dejarán sin aliento. <br />
    Si está planeando su próximo viaje, nuestras grabaciones lo inspirarán
    con vistas espectaculares y destinos de ensueño. Y si busca el lugar
    perfecto para alojarse, nuestro contenido detallado de hoteles, cabañas
    y alojamientos le ayudará a encontrar el refugio perfecto. En FLYDRONE_VIDEO
    le ofrecemos contenido de alta calidad que informa, inspira y entretiene.
    <br /> Únase a nuestra comunidad de viajeros y amantes de la fotografía
    y el vídeo, y déjenos llevarlo a una aventura visual que nunca olvidará.
    ¡Síganos en
    <a
        href="https://www.instagram.com/flydrone_video?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
        target="_blank"
    >
        <b> Instagram </b>
    </a>
    para obtener más contenido exclusivo y detrás de escena! Prepárese para
    explorar el mundo desde nuevas alturas con FLYDRONE_VIDEO.
</i></p>
<p class="galeria-text signature"><i>¡Lo
    esperamos para volar juntos!</i></p>

<style>
    .galeria-text {
        position: absolute;
        bottom: 5vmax;
        width: 80vw;
        padding: 0 3vw 0 3vw;
        font-size: 1.8vw;
        text-wrap:pretty;
        z-index: 2;
    }
    .signature {
        position: absolute;
        bottom: 2vmax;
        width: 80vw;
        padding: 0 4vw 0 5vw;
        font-size: 1.8vw;
        text-wrap:pretty;
        text-align: end;
        z-index: 2;
    }
    .galeria-background {
        z-index: 1;
        opacity: 0.4;
    }

    .galeria-background img {
        border-radius: 2%;
        padding: 1%;
        width: 100%;
    }
    .mar{
        opacity: 0.7;
        text-shadow: 1px 1px 1px #242424;

    }

    @media (max-width: 1024px) and (orientation: portrait) {
        .galeria-text {
        position: absolute;
        bottom: 5vmax;
        width: 85vw;
        padding: 0 0 0 4vw;
        font-size: 1.9vw;
        text-wrap:pretty;
    }
    .signature {
        position: absolute;
        bottom: 2vmax;
        width: 85vw;
        padding: 0 0 0 4vw;
        font-size: 1.9vw;
        text-wrap:pretty;
        text-align: end;
    }
    }

    @media (max-width: 1024px) and (orientation: landscape) {
        .galeria-text {
        position: absolute;
        bottom: 10vmax;
        width: 85vw;
        padding: 0 0 0 4vw;
        font-size: 1.9vw;
        text-wrap:pretty;
    }
    .signature {
        position: absolute;
        bottom: 3vmax;
        width: 85vw;
        padding: 0 0 0 4vw;
        font-size: 1.9vw;
        text-wrap:pretty;
        text-align: end;
    }
    }
</style>