---
import PrevPic from "./PrevPic.astro";
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-4 md:p-8">
    <PrevPic 
      xhref="https://photos.app.goo.gl/8SEpoGpwJFJXpupx7"
      xsrc="/thumbnails/madero.avif"
      xalt="Puerto"
      xtitle="Puerto"
      xtext="¡Déjenos capturar cada momento especial en movimiento! Nuestro equipo experto en grabación y edición de video está listo para dar vida a sus ideas. Desde eventos corporativos hasta proyectos creativos, ofrecemos una gama completa de servicios para asegurarnos de que sus videos transmitan la esencia y el mensaje que desea. Con tecnología de vanguardia y una pasión por contar historias, transformamos su visión en una realidad visual impactante. Más ejemplos en nuestras redes sociales."
      xcaption=" Click en la imagen para ver más."
    />
    <PrevPic 
      xhref="https://photos.app.goo.gl/8SEpoGpwJFJXpupx7"
      xsrc="/thumbnails/fabrega-thum.avif"
      xalt="Fábreg"
      xtitle="Fábreg"
      xtext="Grabaciones aéreas en 4K con drones DJI. Tomas desde ángulos únicos que muestran la belleza de cada destino."
      xcaption="Click en la imagen para ver más."
    />
    <PrevPic 
      xhref="https://photos.app.goo.gl/8SEpoGpwJFJXpupx7"
      xsrc="/thumbnails/enjoy-hotel.avif"
      xalt="Complejo hotelero"
      xtitle="Complejo Hotelero"
      xtext="Producciones audiovisuales completas con edición profesional, color grading y post-producción."
      xcaption="Click en la imagen para ver más."
    />
    <PrevPic 
      xhref="https://photos.app.goo.gl/8SEpoGpwJFJXpupx7"
      xsrc="/thumbnails/ansenuza-hotel.avif"
      xalt="Ansenuza"
      xtitle="Ansenuza"
      xtext="Cobertura de eventos, lanzamientos y producciones corporativas con calidad broadcast."
      xcaption="Click en la imagen para ver más."
    />
</div>
