---
import PrevPic from "./PrevPic.astro";
---

<div class="flex flex-wrap justify-center">
    <PrevPic 
      xhref="https://photos.app.goo.gl/Wpq3UzuNgVUKWJFt7"
      xsrc="/ico-faro.avif"
      xalt="Marinha do Brasil"
      xtitle="Marinha do Brasil"
      xcaption="Marinha do Brasil. Brasil."      
    />
</div>