<div class="flex flex-wrap justify-center">

    <div class="video">
        <a 
            href="https://photos.google.com/share/AF1QipMV0DfJUheWcNrSSXceL6Jb-5V3HSdE-aw91_izf3oDGIFTz56Smtwxm85Wn4wOgQ/photo/AF1QipOq425dzQ1NDAPERn5it2lTz5JRoAlUMJ4LyYB7?key=VGZSR0o0aWJFblFzVkVFREpSNzZXcG0wbkZ5Q0VR"
            target="_blank"
        >
            <img 
                src="https://lh3.googleusercontent.com/pw/ABLVV87UF5Jc7KZAbMSnHljz520Z43Zo1pnKOOw151gEqRy0NsvFWkNUEEXd_IGXWNdEKxYDZPnwOcFNUrgq2ajkSQz6kxO9rtc8qgnkF9GWYcpcmW1KnT-tlyB808e8VIR-UGs2YYf1FSuAG-0vaITZt57B=w1224-h612-s-no?authuser=0" 
                alt="f"
            >
        </a>
    </div>
    <div class="video">
        <a href="https://photos.app.goo.gl/YnwoaWwZzGACDCGr6"
        target="_blank"
        ><img src="https://lh3.googleusercontent.com/pw/ABLVV87UF5Jc7KZAbMSnHljz520Z43Zo1pnKOOw151gEqRy0NsvFWkNUEEXd_IGXWNdEKxYDZPnwOcFNUrgq2ajkSQz6kxO9rtc8qgnkF9GWYcpcmW1KnT-tlyB808e8VIR-UGs2YYf1FSuAG-0vaITZt57B=w1224-h612-s-no?authuser=0" alt="f"></a>
    </div>
    <div class="video">
        <a href="https://photos.app.goo.gl/YnwoaWwZzGACDCGr6"
        target="_blank"
        ><img src="https://lh3.googleusercontent.com/pw/ABLVV87UF5Jc7KZAbMSnHljz520Z43Zo1pnKOOw151gEqRy0NsvFWkNUEEXd_IGXWNdEKxYDZPnwOcFNUrgq2ajkSQz6kxO9rtc8qgnkF9GWYcpcmW1KnT-tlyB808e8VIR-UGs2YYf1FSuAG-0vaITZt57B=w1224-h612-s-no?authuser=0" alt="f"></a>
    </div>
    <div class="video">
        <a href="https://photos.app.goo.gl/YnwoaWwZzGACDCGr6"
        ><img src="https://lh3.googleusercontent.com/pw/ABLVV87UF5Jc7KZAbMSnHljz520Z43Zo1pnKOOw151gEqRy0NsvFWkNUEEXd_IGXWNdEKxYDZPnwOcFNUrgq2ajkSQz6kxO9rtc8qgnkF9GWYcpcmW1KnT-tlyB808e8VIR-UGs2YYf1FSuAG-0vaITZt57B=w1224-h612-s-no?authuser=0" alt="f"></a>
    </div>
    <div class="video">
        <a href="https://photos.app.goo.gl/YnwoaWwZzGACDCGr6"
        ><img src="https://lh3.googleusercontent.com/pw/ABLVV87UF5Jc7KZAbMSnHljz520Z43Zo1pnKOOw151gEqRy0NsvFWkNUEEXd_IGXWNdEKxYDZPnwOcFNUrgq2ajkSQz6kxO9rtc8qgnkF9GWYcpcmW1KnT-tlyB808e8VIR-UGs2YYf1FSuAG-0vaITZt57B=w1224-h612-s-no?authuser=0" alt="f"></a>
    </div>
    <div class="video">
        <a href="https://photos.app.goo.gl/YnwoaWwZzGACDCGr6"
        ><img src="https://lh3.googleusercontent.com/pw/ABLVV87UF5Jc7KZAbMSnHljz520Z43Zo1pnKOOw151gEqRy0NsvFWkNUEEXd_IGXWNdEKxYDZPnwOcFNUrgq2ajkSQz6kxO9rtc8qgnkF9GWYcpcmW1KnT-tlyB808e8VIR-UGs2YYf1FSuAG-0vaITZt57B=w1224-h612-s-no?authuser=0" alt="f"></a>
    </div>
    <div class="video">
        <a href="https://photos.app.goo.gl/YnwoaWwZzGACDCGr6"
        ><img src="https://lh3.googleusercontent.com/pw/ABLVV87UF5Jc7KZAbMSnHljz520Z43Zo1pnKOOw151gEqRy0NsvFWkNUEEXd_IGXWNdEKxYDZPnwOcFNUrgq2ajkSQz6kxO9rtc8qgnkF9GWYcpcmW1KnT-tlyB808e8VIR-UGs2YYf1FSuAG-0vaITZt57B=w1224-h612-s-no?authuser=0" alt="f"></a>
    </div>
    <div class="video">
        <a href="https://photos.app.goo.gl/YnwoaWwZzGACDCGr6"
        ><img src="https://lh3.googleusercontent.com/pw/ABLVV87UF5Jc7KZAbMSnHljz520Z43Zo1pnKOOw151gEqRy0NsvFWkNUEEXd_IGXWNdEKxYDZPnwOcFNUrgq2ajkSQz6kxO9rtc8qgnkF9GWYcpcmW1KnT-tlyB808e8VIR-UGs2YYf1FSuAG-0vaITZt57B=w1224-h612-s-no?authuser=0" alt="f"></a>
    </div>
</div>
<style>
    .video{
        margin: .4ch;
        width: 27vmax;
    }
</style>

<!-- 
<div 
        id="hotel-ext1"
        style="width: 40vw; height: 40vh;"
        slot="background"
      >
      </div>
      <script type="module">
        import { Viewer } from "@photo-sphere-viewer/core";  
        const viewer1 = new Viewer({
          container: document.querySelector("#hotel-ext1"),
          panorama: "hotel-ext1.avif",
          caption: '<b>| 360º | Hotelería * Inmobiliarios * Eventos.</b><hr>',
          description: "Fotografías Aéreas 360º en Alta Definición.",
          navbar: 'caption description',
          mousewheelCtrlKey: true,
        });
      </script> -->