<div class="flex flex-wrap justify-center">
    <div class="video">
        <a
            href="https://photos.google.com/photo/AF1QipMttXobgw0utAgVAGxc8_xz1N_jJ8H3Rj-UkmGP"
            target="_blank"
        >
            <img src="ico-faro.avif" alt="Faro" />
        </a>
    </div>
    <div class="video">
        <a
            href="https://photos.google.com/photo/AF1QipMUhMjityrb2lE9d2YsVepTpILvYHptXNqqaFL3"
            target="_blank"
        >
            <img src="playa-city.avif" alt="playa-city" />
        </a>
    </div>
    <div class="video">
        <a
            href="https://photos.google.com/photo/AF1QipNdNPr5hJzhseAKJwlrt4zCDjelBTWB17mIRFeF"
            target="_blank"><img src="playa.avif" alt="playa" /></a
        >
    </div>
</div>
<style>
    .video {
        margin: 0.4ch;
        width: 27vmax;
    }
</style>