        <!-- The dialog -->
    <div id="dialog" class="flex justify-center">
    <iframe
    id="the-frame"
    class="mi-iframe mb-8"
    src="https://docs.google.com/forms/d/e/1FAIpQLScY9bs9ayJoqq5tfjzbs6nTu-KX4iE9V6lmyPbLL5o9XXnHAg/viewform?embedded=true" 
    >
    Cargando…
</iframe>
<footer
class="py-3 px-10 flex justify-center items-center absolute bottom-0 w-full z-40 text-gray-800 text-xs font-medium"
id="form-footer"
>
<nav>
    <ul class="flex [&>li>a]:inline-block [&>li>a]:px-3 [&>li>a]:py-2">
        <li>
            <a role="button" id="close" href="/" class="px-5 py-o mt-2 bg-indigo-500 hover:bg-indigo-700 text-white cursor-pointer rounded-md">
                Cerrar</a>
            </li>
            <li><a class="pb-2" href="https://wa.me/5493436109763?text=Hola. Quisiera más información" target="_blank">
                <img title="Click para contactar por Whatsapp" class="whatsapp" src="/icons/whatsapp.png" width="30">
            </a>
        </li>
      	</ul>
    </nav>
</footer>
</div>

<style>
    /* CSS general */
    .mi-iframe {
        width: 280px;
        height: 560px;
    }
    
    /* CSS pantallas de 320px o superior */
    @media (min-width: 320px) {
    
    .mi-iframe {
        width: 320px;
        height: 420px;
    } 
    
}

/* CSS pantalla 768px o superior */
@media (min-width: 768px) {
    
    .mi-iframe {
        width: 800px;
        height: 480px;
    } 
    
}
  </style>
