---
import FlyDrone from "../components/FlyDrone.astro";
import ObeliscoCABA from "../components/ObeliscoCABA.astro";
import LandingHeader from "../components/LandingHeader.astro";
import CasaGobER from "../components/CasaGobER.astro";
import BuqueDesdemona from "../components/BuqueDesdemona.astro";
import ThompsonPNA from "../components/ThompsonPNA.astro";
import FaroBR from "../components/FaroBR.astro";
import ModalGoogle from "../components/ModalGoogle.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Flydrone Video">
  <LandingHeader />

  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
  >
    <div class="snap-center">
      <ObeliscoCABA />
    </div>
    <div class="snap-center">
      <div 
        id="hotel-ext1"
        style="width: 100vw; height: 100vh;"
        slot="background"
      >
      </div>
      <script type="module">
        import { Viewer } from "@photo-sphere-viewer/core";  
        const viewer1 = new Viewer({
          container: document.querySelector("#hotel-ext1"),
          panorama: "hotel-ext1.avif",
          caption: '<b>| 360º | Hotelería * Inmobiliarios * Eventos.</b><hr>',
          description: "Fotografías Aéreas 360º en Alta Definición.",
          navbar: 'caption description',
          mousewheelCtrlKey: true,
        });
      </script>
    </div>
    <div class="snap-center">
      <div 
        id="room1"
        style="width: 100vw; height: 100vh;"
        slot="background"
      >
      </div>
      <script type="module">
        import { Viewer } from "@photo-sphere-viewer/core";  
        const viewer2 = new Viewer({
          container: document.querySelector("#room1"),
          panorama: "room1.avif",
          caption: '<b>| 360º | Hotelería * Inmobiliarios * Eventos.</b><hr>',
          description: "Fotografías Interiores 360º en Alta Definición",
          navbar: 'caption description',
          mousewheelCtrlKey: true,
        });
      </script>
    </div>
    <div class="snap-center">
      <div 
        id="aloj-ext1"
        style="width: 100vw; height: 100vh;"
        slot="background"
      >
      </div>
      <script type="module">
        import { Viewer } from "@photo-sphere-viewer/core";  
        const viewer3 = new Viewer({
          container: document.querySelector("#aloj-ext1"),
          panorama: "aloj-ext1.avif",
          caption: '<b>| 360º | Hotelería * Inmobiliarios * Eventos.</b><hr>',
          description: "Fotografías Aéreas 360º en Alta Definición.",
          navbar: 'caption description',
          mousewheelCtrlKey: true,
        });
      </script>
    </div>
    <div class="snap-center">
      <div 
        id="cascada1"
        style="width: 100vw; height: 100vh;"
        slot="background"
      >
      </div>
      <script type="module">
        import { Viewer } from "@photo-sphere-viewer/core";  
        const viewer4 = new Viewer({
          container: document.querySelector("#cascada1"),
          panorama: "cascada1.avif",
          caption: '<b>| 360º | Sitios Turísticos * Eventos</b><hr>',
          description: "Fotografías Aéreas 360º en Alta Definición",
          navbar: 'caption description',
          mousewheelCtrlKey: true,
        });
      </script>
    </div>
    <div class="snap-center">
      <CasaGobER />
    </div>
    <div class="snap-center">
      <BuqueDesdemona />
    </div>
    <div class="snap-center">
      <ThompsonPNA />
    </div>
    <div class="snap-center">
      <FaroBR />
    </div>
    <div class="snap-center">
      <FlyDrone />
    </div>
    <div class="snap-center">
      <ModalGoogle />
    </div>
  </main>
</Layout>
