---
import LandingHeader from "../components/layout/LandingHeader.astro";
import ModalGoogle from "../components/layout/ModalGoogle.astro";
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/indexcomp/Welcome.astro";
---

<Layout title="Fly Drone">
  <LandingHeader color="white" />

  <main>
    <div id="pantalla0">
      <Welcome />
    </div>
    <div class="snap-center">
      <ModalGoogle />
    </div>
  </main>
</Layout>
