---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/indexcomp/Welcome.astro";
import AframeHeader from "../components/layout/AframeHeader.astro";
---

<Layout title="Dron Video 360">
  <AframeHeader color="white" />

  <main>
    <div id="pantalla0">
      <Welcome />
  </main>
</Layout>
