---
import PantallaFinal from "../components/PantallaFinal.astro";
import HeroSection from "../components/HeroSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Pantalla3 from "../components/Pantalla3.astro";
import Pantalla2 from "../components/Pantalla2.astro";
import Pantalla4 from "../components/Pantalla4.astro";
import Pantalla1 from "../components/Pantalla1.astro";
import Pantalla5 from "../components/Pantalla5.astro";
import Layout from "../layouts/Layout.astro";
import Detalles from "../components/Detalles.astro";
const { texto, visib } = Astro.props;
---

<Layout title="Fly Drone">
  <LandingHeader />

  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
  >
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <Pantalla1 />
    </div>
    <div class="snap-center">
      <Pantalla2 />
    </div>
    <div class="snap-center">
      <div 
      id="imagepantalla3"
      style="width: 100vw; height: 100vh;"
      slot="background"
      >
    </div>
       <script type="module">
         import { Viewer } from "@photo-sphere-viewer/core";
         
         const viewer = new Viewer({
           container: document.querySelector("#imagepantalla3"),
           panorama: "brown04.avif",
         });
         </script>
         <Detalles {texto} {visib}/>
    </div>
    <div class="snap-center">
      <Pantalla4 />
    </div>
    <div class="snap-center">
      <Pantalla5 />
    </div>
    <div class="snap-center">
      <PantallaFinal />
    </div>
  </main>
</Layout>
