---
import Layout from "../layouts/Layout.astro";
import GaleriaHeader from "../components/layout/GaleriaHeader.astro";
const { fcolor } = Astro.props;
const ftextColor = `text-${fcolor}`;
---

<Layout title="Dron Video 360">
    <div class="galería-header">
        <GaleriaHeader color="white" />
    </div>
    <div class="container-background legal">
     <h2 class="legal-title">Derechos de Copyright.</h2>
     <p class="legal-text">
        Todo el contenido visual (fotografías, fotografías 360º, videos, etc.) mostrado en este sitio 
        web es propiedad exclusiva de DRON VIDEO 360. Está protegido por las leyes de derechos de 
        autor y no puede ser reproducido, copiado, modificado o utilizado de ninguna manera sin el 
        consentimiento previo por escrito de DRON VIDEO 360. El uso no autorizado de cualquier 
        material visual mostrado en este sitio puede infringir los derechos de autor y podría 
        dar lugar a acciones legales.
        El contenido alojado en servicios externos o redes sociales se ajusta a los
        términos y condiciones de uso de cada sevicio.
    </p>
    <h2 class="legal-title">Exención de responsabilidad por enlaces a sitios externos.</h2>
    <p class="legal-text">
        Este sitio web puede contener enlaces a sitios web externos que son proporcionados como 
        referencia y conveniencia para los usuarios. DRON VIDEO 360 no tiene control sobre el contenido 
        o la disponibilidad de estos sitios externos y no se hace responsable por el contenido, publicidad, 
        productos o servicios disponibles en ellos. La inclusión de enlaces a sitios externos no implica 
        una aprobación o recomendación del material encontrado en ellos.
    </p>
    <h2 class="legal-title">Privacidad y tratamiento de datos.</h2>
     <p class="legal-text">
        DRON VIDEO 360 <b>no</b> recopila datos más allá de los entregados por el usuario 
        en el formulario de contacto, los cuales no pertecen al tipo de datos privados o sensibles.
        DRON VIDEO 360 utiliza Google Analytics <sup id="gog">[*1]</sup>, cuyos términos de servicio 
        establecen la recopilación de datos anónimos para análisis estadístico.
     </p>
    <h2 class="legal-title">Uso de librerías y servicios de hosting.</h2>
    <p class="legal-text">    
        Este sitio web puede utilizar librerías y servicios de hosting de terceros para 
        proporcionar funcionalidad y alojamiento. DRON VIDEO 360 se esfuerza por utilizar servicios confiables 
        y de buena reputación, pero no puede garantizar la disponibilidad o el rendimiento de estos servicios 
        de terceros. DRON VIDEO 360 no se hace responsable por cualquier interrupción, pérdida de datos o daño 
        resultante del uso de estos servicios, así como de cualquier tipo de monitoreo 
        <a href="#gog">(incluído <sup>[*1]</sup></a>) que pueda exceder lo permitido por las leyes vigentes.
    </p>
    </div>
<footer
	class=`flex justify-center ${ftextColor} text-xs font-medium`
	id="landing-footer"
>
<nav>
	<ul class="flex [&>li>a]:inline-block [&>li>a]:px-2 [&>li>a]:py-0">
	    <li class="text-center">
            <a href="mailto:dronvideo360.ar@gmail.com?subject=DRON%20VIDEO%20360.%20Contacto">DRON VIDEO 360 © 2024</a>
        </li>
	</ul>
  </nav>
</footer>

</Layout>

<style>
    .container-background {
        position: relative;
        border-radius: 2%;
        margin: 1vh 3vw 0 10vw;
        max-width: 80vw;
        z-index: 1;
    }

    .legal-title {
        font-size: x-large;
        text-align: center;
        margin: 2% 0 1% 0;
    }

    .legal-text {
        margin: 1% 0;
        text-wrap:pretty;
    }
    
    footer {
        bottom: 0;
        padding: 40vh 0 10px 0 !important;
    }
    
</style>
