---
import Layout from "../layouts/Layout.astro";
import ModalGoogle from "../components/layout/ModalGoogle.astro";
import FooterMenu from "../components/layout/FooterMenu.astro";
import TrabajosHeader from "../components/layout/TrabajosHeader.astro";
import WorkPic from "../components/galeria/WorkPic.astro";
---
<Layout title="Fly Drone">
    <div class="galería-header">
        <TrabajosHeader color="white"/>
    </div>
    <div class="flex p-3 mb-10 justify-center">
        <h1 class="works-title flex p-3 rounded-lg text-xl shdw">Trabajos Realizados</h1>
    </div>
    <div class="flex p-3 justify-center">
        <p class="works-text flex rounded-lg text-lg">
            Algunos de los trabajos realizados para nuestros clientes.
        </p>
    </div>
    <div class="flex mb-10 justify-center">
        <p class="works-mini flex rounded-lg text-sm">
            Click en la imagen para ver más.
        </p>
    </div>
    <div class="flex flex-wrap justify-center">
        <WorkPic 
        xhref="https://photos.app.goo.gl/P2eKbRweQeK17LCFA"
        xsrc="/thumbnails/sadop.avif"
        xalt="Trabajos Realizados"
        xtitle="Trabajos Realizados"
        xcaption="SADOP Hotel. Cosquín."      
        />
        <WorkPic 
        xhref="https://photos.app.goo.gl/aKKHiXRMhER2ZQoD9"
        xsrc="/thumbnails/ansenuza.avif"
        xalt="Trabajos Realizados"
        xtitle="Trabajos Realizados"
        xcaption="Ansenuza. Hotel - Casino - Spa."      
        />
        <WorkPic 
          xhref="https://photos.google.com/share/AF1QipN3Tz0bF7eV8DB_cbKh94UQI88yXXbZf1NdcHXSXd1FaS7WzCr9EwnAZN_FZXHM0w?key=NkJnRkRRVWVTUnlyb3NCV1hXNnhTLTJXWlRIdTd3"
          xsrc="/thumbnails/fabrega-thum.avif"
          xalt="Trabajos Realizados"
          xtitle="Trabajos Realizados"
          xcaption="El Castillo. Hotel Fábrega."      
        />
    </div>
    <div>
        <ModalGoogle />
    </div>
    <div class="bottom-0 h-full w-full z-10">
        <div class="z-30 relative h-full flex flex-col mb-5 mt-5">
            <footer class="flex flex-col flex-grow justify-end pb-10">
                <FooterMenu color = white/>
            </footer>
        </div>
    </div>
</Layout>

<style>
    .works-title {
        background-color: rgb(21, 32, 32);
    }
    .works-text p {
        background-color: rgb(188, 194, 194);
        text-wrap: pretty;
    }
    .works-mini {
        background-color: rgb(188, 194, 194);
        text-wrap: pretty;
        color: black;
        padding-inline: 5px;
    }
    .shdw {
        box-shadow: 0 8px 16px 0 rgba(253, 253, 253, 0.2), 0 6px 20px 0 rgba(128, 128, 128, 0.699);
    }

    .shdw:hover {
        box-shadow: 0 12px 16px 0 rgba(182, 182, 182, 0.24), 0 17px 50px 0 rgba(141, 119, 119, 0.19);
    }
    
</style>