---
import Layout from "../layouts/Layout.astro";
import ModalGoogle from "../components/layout/ModalGoogle.astro";
import FooterMenu from "../components/layout/FooterMenu.astro";
import PrevPic from "../components/galeria/PrevPic.astro";
import TrabajosHeader from "../components/layout/TrabajosHeader.astro";
---
<Layout title="Fly Drone">
    <div class="galería-header">
        <TrabajosHeader color="white"/>
    </div>
    <div class="flex p-3 mb-10 justify-center">
        <h1 class="flex p-3 bg-slate-800 rounded-lg text-xl shdw">Trabajos Realizados</h1>
    </div>
    <div class="flex flex-wrap justify-center">
        <PrevPic 
          xhref="https://photos.google.com/share/AF1QipN3Tz0bF7eV8DB_cbKh94UQI88yXXbZf1NdcHXSXd1FaS7WzCr9EwnAZN_FZXHM0w?key=NkJnRkRRVWVTUnlyb3NCV1hXNnhTLTJXWlRIdTd3"
          xsrc="https://lh3.googleusercontent.com/pw/AP1GczPKt_IC2TbJ_mMYO9Pvm1TYqcnxbIOSHT9NK7bNWqVD7MikPtIDWqM0Vg9JUrYJA-AMWP8HO7MxY9gIs8yB0nW8_SYw36roIhuoO-nKtAD8nXOYbU4FX0sgXf6IuQmAZyHIVyvKkG0Klk8zbinxhtym=w487-h609-s-no?authuser=0"
          xalt="Trabajos Realizados"
          xtitle="Trabajos Realizados"
          xcaption="El Castillo. Hotel Fábrega."      
        />
    </div>
    <div>
        <ModalGoogle />
    </div>
    <div class="bottom-0 h-full w-full z-10">
        <div class="z-30 relative h-full flex flex-col mb-0">
            <footer class="flex flex-col flex-grow justify-end pb-10">
                <FooterMenu color = white/>
            </footer>
        </div>
    </div>
</Layout>

<style>
    .shdw {
        box-shadow: 0 8px 16px 0 rgba(253, 253, 253, 0.2), 0 6px 20px 0 rgba(128, 128, 128, 0.699);
    }

    .shdw:hover {
        box-shadow: 0 12px 16px 0 rgba(182, 182, 182, 0.24), 0 17px 50px 0 rgba(141, 119, 119, 0.19);
    }
    
</style>