---
import Section from "./Section.astro"
---

<Section>>
  
  <video
    slot="background"
    class="object-center object-cover h-full w-full"
    autoplay
    muted
    loop
    src="/obelisco.webm"></video>
</Section>