---
import Section from "./Section.astro"
---

<Section
color="white"
id="hero-section"
subtitle="hhhhhhhhhhhhherrrrrrrrrrrrrrrroooooooooo"
>

  
  <video
    slot="background"
    class="object-center object-cover h-full w-full"
    autoplay
    muted
    loop
    src="/obelisco.webm"></video>
</Section>