---
import Section from "./Section.astro"
---

<Section
color="white"
id="obelisco-caba"
texto="Filmaciones Aéreas * Alta Definición * Turismo * Eventos"
>

  
  <video
    id="vide-obelisco-caba"
    slot="background"
    class="object-center object-cover h-full w-full"
    autoplay
    muted
    loop
    src="/obelisco.webm"></video>
</Section>