---
import Section from "./Section.astro"
---

<Section
  texto="Paya Thompson. Paraná. Entre Ríos. Argentina"
  color="white"
  id="pantalla-4"
>

  <img
    slot="background"
    alt="Pantalla 4"
    class="h-full w-full object-cover object-center"
    src="brown09.avif"
    id="bg-image-pantalla-4"
  />
</Section>
