---
import Section from "./Section.astro"
---

<Section
  texto="Naufragio Buque Desdemona. Patagonia Argentina"
  color="white"
  id="pantalla-2"
>

  <img
    slot="background"
    alt="Pantalla 2"
    class="h-full w-full object-cover object-center"
    src="brown08.avif"
    id="bg-image-pantalla-2"
  />
</Section>
