---
import Section from "./Section.astro"
---

<Section
  texto="Patagonia Argentina"
  color="white"
  id="pantalla-3"
>
    <div 
      id="imagepantalla3"
      class="h-full w-full object-cover object-center"
      slot="background"
      >

    </div>

  </Section>
    
    
    <script type="importmap">
   {
     "imports": {
       "three": "https://cdn.jsdelivr.net/npm/three/build/three.module.js",
       "@photo-sphere-viewer/core": "https://cdn.jsdelivr.net/npm/@photo-sphere-viewer/core/index.module.js",
      }
    }
  </script>
  
  <script type="module">
    import { Viewer } from "@photo-sphere-viewer/core";
    
    const viewer = new Viewer({
      container: document.querySelector("#imagepantalla3"),
      panorama: "brown04.avif",
    });
    </script>

