---
import Section from "./Section.astro"
---

<Section
  texto="Casa de Gobierno. Paraná. Entre Ríos. Argentina."
  color="white"
  id="pantalla-5"
>

  <img
    slot="background"
    alt="Pantalla 5"
    class="h-full w-full object-cover object-center"
    src="brown05.avif"
    id="bg-image-pantalla-5"
  />
</Section>
