---
import Section from "./Section.astro"
---

<Section
  title=""
  subtitle="Pantalllla final"
  color="black"
  id="pantalla-final"
  showFooterContent="true"
>

  <img
    slot="background"
    alt="Pantalla Final"
    class="h-full w-full object-fill object-center"
    src="brown07.avif"
    id="bg-image-pantalla-final"
  />
</Section>
