---
import Section from "./Section.astro";
---

<Section
  subtitle="Paaannnnnntttttttaaaaaaaaalaaa ters"
  id="pantalla-3"
>
  
  <img
    slot="background"
    alt="Pantalla 3"
    class="h-full w-full object-cover object-center"
    src="brown03.avif" 
    id="bg-image-pantalla-3"
  />
  
</Section>
<!-- 
<script>
  function isEdge() {
    if (
      navigator.userAgent.indexOf("Edge") > -1 ||
      navigator.userAgent.indexOf("Edg") > -1
    ) {
      return true;
    } else {
      return false;
    }
  }

  let imageElement = document.querySelector("#bg-image-models") as HTMLImageElement; // TypeScript

  if (isEdge()) {
    imageElement.src = "brown2.jpg";
  } else {
    imageElement.src = "brown2.jpg";
  }
</script>
 -->