---
import Section from "./Section.astro"
---

<Section
  texto="Fly Drone"
  color="white"
  id="pantalla-final"
  showFooterContent="true"
>

  <img
    slot="background"
    alt="Pantalla Final"
    class="h-full w-full object-cover object-center"
    src="brown07.avif"
    id="bg-image-pantalla-final"
  />
</Section>
