---
import Section from "./Section.astro"
---

<Section
  subtitle="pantallllllla 5"
  color="white"
  id="pantalla-5"
>

  <img
    slot="background"
    alt="Pantalla 5"
    class="h-full w-full object-fill object-center"
    src="brown05.avif"
    id="bg-image-pantalla-5"
  />
</Section>
