---
import Section from "./Section.astro"
---

<Section
  subtitle="pantalla 4"
  color="white"
  id="pantalla-4"
>

  <img
    slot="background"
    alt="Pantalla 4"
    class="h-full w-full object-fill object-center"
    src="brown09.avif"
    id="bg-image-pantalla-4"
  />
</Section>
